body {
    background-color: rgb(222, 229, 235);
}

header {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 30px;
    padding-top: 2em;
    padding-bottom: 1em;
    color:rgb(7, 9, 63);
}

h2 {
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 22px;
    padding-left: 12em;
    padding-right: 12em;
    line-height: 30px;
    color:rgb(44, 28, 4);
    padding-bottom: 1em;
}

p {
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 18px;
    padding-left: 15em;
    padding-right: 15em;
    line-height: 30px;
    color:rgb(44, 28, 4);
    padding-bottom: 1em;
}

article {
    padding-bottom: 2em;
}